*.eps
*.go
*.log
*.mo
*.pdf
*.png
*.trs
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-aux/compile
/build-aux/depcomp
/build-aux/install-sh
/build-aux/missing
/build-aux/test-driver
/config.cache
/config.log
/config.status
/configure
/pre-inst-env
*.tar.xz
/test-suite.log
*.tmp
TAGS
*~
.#*
\#*\#
.\#*
,*
.claude
.temp
CLAUDE.local.md